body{
    font-family: 'PT Serif', serif;
}

.bg-blue{
    background-color: #C4E2FF;
}

.border-bottom-dark{
    border-bottom: solid 1px #414141;
}

.bigger{
    font-size: 60px;
}

.aside-buttons > li {
   margin-bottom: 10px;
}

.border-dark-top{
    border-top: 1px solid rgba(230, 230, 230, 1 );
}